version: "3.7"

services:
  app:
    image: "{{ docker_image_path }}"
    container_name: rapportnav_backend
    # user: "rapportnav:${MONITORENV_LOGS_AND_BACKUPS_GID}"
    environment:
      - ENV_DB_URL=jdbc:postgresql://db:5432/rapportnavdb?user=postgres&password=postgres
      - SPRING_PROFILES_ACTIVE=prod
    ports:
      # - ${BACKEND_HTTP_PORT}:8880
      - 8880:8880
      - 80:80
      - 8000:8000
#    volumes:
    #  - "${RAPPORTNAV_LOGS_FOLDER}:/home/rapportnav/logs"
    # networks:
    #   - backend_network
    depends_on:
      - db
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1024m"

  db:
    image: "{{ nexus_proxy }}/postgres:15.6-alpine"
    volumes:
    #  - "${RAPPORTNAV_BACKUPS_FOLDER}:/opt/rapportnav_backups"
      - db:/var/lib/postgresql/data
    # networks:
    #   - backend_network
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: rapportnavdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 1s
      retries: 30

  unleash_proxy:
    image: unleashorg/unleash-proxy:v1.1.1
    ports:
      - "3000:3000"
    environment:
      # Proxy clients must use one of these keys to connect to the
      # Proxy. To add more keys, separate them with a comma (`key1,key2`).
      #      UNLEASH_PROXY_CLIENT_KEYS: "randomkey"
      UNLEASH_PROXY_SECRETS: "randomkey"
      UNLEASH_APP_NAME: "local"
      # This points the Proxy to the Unleash server API
      UNLEASH_URL: "https://gitlab.com/api/v4/feature_flags/unleash/55951570"
      UNLEASH_INSTANCE_ID: "glffct-ceHLxPcFMqyXsyGPXSkx"
      # This is the API token that the Proxy uses to communicate with
      # the Unleash server.
      UNLEASH_API_TOKEN: "glpat-6f7PUWe9PwRoa53LUmsZ"
      ENABLE_ALL_ENDPOINT: true
      LOG_LEVEL: "debug"
    #    depends_on:
    #      - web
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:3000/proxy/health || exit 1
      interval: 1s
      timeout: 1m
      retries: 5

volumes:
  db:
    name: rapportnavdb


