HELP.md

### Gradle ###
.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

tmp_rapport_patrouille_PAM.docx
tmp_AEM_PAM.xlsx

kotlin/
.kotlin
