version: "3.7"

services:
  app:
    image: "{{ docker_image_path }}"
    container_name: rapportnav_backend
    environment:
      - ENV_DB_URL=jdbc:postgresql://db:5432/rapportnavdb?user=postgres&password=postgres
      - SPRING_PROFILES_ACTIVE=prod
    ports:
      - 80:80
    # volumes:
    #  - "${RAPPORTNAV_LOGS_FOLDER}:/home/rapportnav/logs"
    depends_on:
      - db
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1024m"

  db:
    image: "{{ nexus_proxy }}/postgres:15.7-alpine"
    volumes:
      - db:/var/lib/postgresql/data
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: rapportnavdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 1s
      retries: 30

volumes:
  db:
    name: rapportnavdb


